<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>看板娘</title>
</head>
<body>
<th:blok th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js" th:src="@{https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css" th:href="@{https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css}"/>
    <script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js" th:src="@{https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget/autoload.js}"></script>
</th:blok>
</body>
</html>